#navigator-toolbox {
	-moz-window-dragging: drag;
}

#titlebar {
	appearance: none !important;
}

#TabsToolbar .toolbar-items {
	display: none !important;
}

#TabsToolbar.browser-toolbar {
	display: block !important;
	position: absolute;
	right: 0;
	top: calc((var(--navbar-height) - 16px) / 2);
}

#nav-bar {
	margin-right: 100px;
	padding: calc((var(--navbar-height) - 40px) / 2) 0;
}

#urlbar {
	--urlbar-toolbar-height: 40px !important;
	z-index: 200 !important;
}
