@import 'window-controls.css';
@import 'navbar.css';
@import 'sidebar.css';
@import 'hide-tabline.css';

:root {
	--wc-red: hsl(-10, 90%, 60%);
	--wc-green: hsl(160, 90%, 40%);
	--wc-yellow: hsl(50, 90%, 60%);
	--bg-primary: hsl(210, 20%, 10%);
	--bg-secondary: hsl(210, 20%, 13%);
	--bg-tertiary: hsl(210, 20%, 16%);
	--bg-quaternary: hsl(210, 20%, 19%);
	--bg-hover-light: hsla(210, 50%, 80%, 0.03);
	--bg-hover: hsla(210, 50%, 80%, 0.04);
	--bg-active: hsla(210, 50%, 80%, 0.09);
	--text-bright: hsl(210, 50%, 95%);
	--text-primary: hsl(210, 20%, 60%);
	--text-secondary: hsl(210, 20%, 45%);
	--text-tertiary: hsl(210, 20%, 30%);
	--accent: hsl(190, 60%, 50%);
	--shadow: 0 0 4px hsla(0, 0%, 0%, 0.4);
	--roundness: 12px;
	--roundness-small: 8px;
	--roundness-tiny: 4px;
	--navbar-height: 56px;
	--sidebar-collapsed-width: 56px;
	--sidebar-width: 250px;
	--transition-duration: 0.2s;
	--transition-ease: ease-out;

	--button-bgcolor: var(--bg-secondary) !important;
	--button-hover-bgcolor: var(--bg-hover) !important;
	--button-active-bgcolor: var(--bg-active) !important;
	--input-bgcolor: var(--bg-secondary) !important;
	--input-color: var(--text-primary) !important;
	--input-border-color: none !important;
	--panel-banner-item-update-supported-bgcolor: none;
	--panel-banner-item-info-icon-bgcolor: none;
	--panel-item-hover-bgcolor: var(--bg-hover) !important;
	--panel-item-active-bgcolor: var(--bg-active) !important;
	--panel-border-radius: var(--roundness) !important;
	--panel-separator-color: var(--bg-tertiary) !important;
	--urlbar-box-bgcolor: var(--bg-tertiary) !important;
	--urlbar-box-focus-bgcolor: var(--bg-tertiary) !important;
	--urlbar-box-hover-bgcolor: var(--bg-hover) !important;
	--urlbar-box-active-bgcolor: var(--bg-active) !important;
	--arrowpanel-background: var(--bg-primary) !important;
	--arrowpanel-color: var(--text-primary) !important;
	--arrowpanel-border-color: none !important;
	--arrowpanel-border-radius: var(--roundness) !important;
	--arrowpanel-menuitem-border-radius: var(--roundness-small) !important;
	--arrowpanel-dimmed: var(--bg-hover) !important;
	--toolbar-field-background-color: var(--bg-secondary) !important;
	--toolbar-field-color: var(--text-primary) !important;
	--toolbar-field-border-color: none !important;
	--toolbar-field-focus-background-color: var(--bg-secondary) !important;
	--toolbar-field-focus-color: var(--text-primary) !important;
	--toolbar-bgcolor: var(--bg-primary) !important;
	--toolbar-color: var(--text-primary) !important;
	--toolbarbutton-icon-fill: var(--text-primary) !important;
	--toolbarbutton-hover-background: var(--bg-hover) !important;
	--toolbarbutton-active-background: var(--bg-active) !important;
	--toolbarbutton-border-radius: var(--roundness-small) !important;
	--lwt-tab-text: var(--text-primary) !important;
	--lwt-selected-tab-background-color: var(--bg-secondary) !important;
	--lwt-text-color: var(--text-primary) !important;
	--lwt-tab-line-color: none !important;
	--tab-loading-fill: red !important;
	--autocomplete-popup-highlight-background: var(--bg-hover) !important;
	--autocomplete-popup-highlight-color: var(--text-primary) !important;
	--autocomplete-popup-separator-color: var(--bg-tertiary) !important;
	--windows-panel-box-shadow: var(--shadow) !important;
	--menuitem-hover-background-color: var(--bg-hover) !important;
	--menuitem-active-background-color: var(--bg-active) !important;
	--menu-background-color: var(--bg-primary) !important;
	--menu-color: var(--text-primary) !important;
	--menu-border-color: none !important;
	--tabpanel-background-color: var(--bg-primary) !important;
}

menuseparator {
	--menu-border-color: var(--bg-tertiary) !important;
}

panel,
menupopup {
	--windows-panel-box-shadow: var(--shadow) !important;
}

spacer,
button {
	border: none !important;
}

button,
input,
menulist {
	border-radius: var(--roundness-small) !important;
}
